.header-cont {
  background-color: #2c364c;
  padding: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10vh;
}
.website-logo {
  height: 30px;
}
@media screen and (min-width: 768px) {
  .website-logo {
    height: 40px;
  }
}
.HomeAndJobsSmallScreens {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style-type: none;
}
@media (min-width: 768px) {
  .HomeAndJobsSmallScreens {
    display: none;
  }
}

.sm-LogoutButton {
  background-color: transparent;
  outline: none;
  border: none;
}
.HJ {
  margin-right: 10px;
}

.HomeAndJobs {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
@media (max-width: 767px) {
  .HomeAndJobs {
    display: none;
  }
}

.HomeAndJobsStyle {
  color: #f8fafc;
  font-size: 18px;
  margin-right: 5px;
}
.lg-LogoutButton {
  border: none;
  background-color: #6366f1;
  color: #ffffff;
  border-radius: 6px;
  height: 33px;
  width: 80px;
  margin-right: 5px;
}
@media (max-width: 767px) {
  .lg-LogoutButton {
    display: none;
  }
}
